html{
    background-color: #1F2642;
    color:"white";
    scroll-behavior: smooth;
}

.contacts{
    color:#1F2642
}

.bg-text{
    color:#1F2642
}

.twitter-timeline{
    height: 100%;
}