.App {
  text-align: center;
  font-family: "Lilita One", cursive;
}

html {
  font-family: "Lilita One", cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h4 {
  font-size: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  position: relative;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vw), 0 100%);
  /* change the calc height to a percentage height to get alternate responsive behavior*/
}

.textT {
  color: #fff;
}
